// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// #app {
//     background: $pink;
//     height:100vh;
// }


.time {
    opacity:0.7;
}

.homepage {
    background:black;
    height: 100vh;
    max-width: 100%;
    background-image:url('public/img/bcg.jpg');
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    align-items:center;

    .inside {
        display:flex;
        align-items:center;
        padding:50px;
        background:black;
        max-height: 200px;

        h1 {
            color:white;
            font-weight: bold;
            text-transform: uppercase;
        }

    }
}

